
  .requirement{
    text-align: left;
    box-sizing: border-box;
    padding: 16px 0 16px 16px;
    width: 390px;
    min-height: 80px;
    background: #eeeff2;
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
    border-radius: 4px;
  }
  .choose_file{
    position: relative;
    display: inline-block;
    border-radius: 6px;
    border: #ebebeb solid 1px;
    min-width: 130px;
    padding: .375rem .75rem;
    background: #0870d1;
    cursor: pointer;
}

.choose_file span{
  color: white;
  cursor: pointer;
}
.choose_file input[type="file"]{
  -webkit-appearance: none;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  padding: .375rem .75rem;
  width: 130px;
}

  .img_wrapper{
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}
.img_hover{
    position: relative;
}

.upload_bg{
background-color: rgb(247 247 247);
height: 100vh;
}
/* The overlay effect (full height and width) - lays on top of the container and over the image */
/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
  } */
    
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  /* .icon {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  } */

  /* .icon:hover{
      color: #fff;
  } */
  
  /* When you move the mouse over the icon, change color */
  /* .fa-trash:hover {
    color: #eee;
  }
   */