.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  img {
    max-width: 100%;
  }

  .img_wrapper{
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}
.img_hover{
    position: relative;
}

.upload_bg{
background-color: rgb(247 247 247);
height: 100vh;
}
/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .img_hover:hover .overlay {
    /* opacity: 0.8; */
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon:hover{
      color: #fff;
  }
  
  /* When you move the mouse over the icon, change color */
  .fa-trash:hover {
    color: #eee;
  }
  